@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

p {
  color: black;
  font-size: large;
}
h1 {
  color: black;
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
